---
- name: Install and configure Nagios on Ubuntu
  hosts: monitoring
  become: true
  vars:
    alb_url: "change-me-alb-dns"  # e.g., output from terraform: alb_dns_name
  tasks:
    - name: Update APT cache
      apt:
        update_cache: yes

    - name: Install Nagios and dependencies
      apt:
        name:
          - nagios4
          - nagios-plugins
          - monitoring-plugins-basic
          - apache2
        state: present

    - name: Ensure Apache is started and enabled
      service:
        name: apache2
        state: started
        enabled: true

    - name: Create custom config for remote checks
      copy:
        dest: /etc/nagios4/conf.d/internconnect.cfg
        content: |
          define host {
            use             generic-host
            host_name       internconnect-app
            alias           InternConnect App
            address         {{ alb_url }}
          }

          define service {
            use                     generic-service
            host_name               internconnect-app
            service_description     HTTP
            check_command           check_http!-H {{ alb_url }} -u /
            notifications_enabled   1
          }
      notify: restart nagios

  handlers:
    - name: restart nagios
      service:
        name: nagios
        state: restarted

